body{
	font-family: 'PT Sans', sans-serif;
}
.header{
	background-color: yellow;
	padding-top: 50px;
}

ul,li{
	display: block;
	color: #010101;
	margin: 0;
	padding:0;
}
.menu{
	margin-top: 10px;
}
.menu__item{
	margin: 0 57px;
}
.menu__item a{
	font-size: 22px;
	font-weight: 700;
	color: black;
}
h1,h2,h3,h4,h5
{
	font-weight: 700;
	color: #000;

}
h3{
	font-weight: 400;
}
h2{
	text-align: center;
}